{% extends 'home/main.html' %}

{% block title %}Book Details{% endblock %}
<!-- this is book_details -->
{% block content %}
<div class="container">
    <h2>{{ book.name }}</h2>
    <img src="{{ book.img }}" alt="Book Image" class="img-fluid">
    <p><strong>Author:</strong> {{ book.author }}</p>
    <p><strong>Price:</strong> ${{ book.price }}</p>
    <p><strong>Rating:</strong> {{ book.rating }} / 5</p>
    <p><strong>Stock:</strong> {{ book.stock }}</p>
    <p><strong>Description:</strong> {{ book.description }}</p>
    <p><strong>Category:</strong> {{ book.category }}</p>
    <p><strong>Book ID:</strong> {{ book.id }}</p>    

    <form action="/add-to-cart/{{ book.id }}" method="POST">
        <button type="submit" class="btn btn-success">Add to Cart</button>
    </form>
</div>
{% endblock %}
